python-dotenv==1.1.0
typer==0.16.0
fastapi==0.115.12
fastapi[standard]
pydantic==2.11.5
elevenlabs==2.1.0
srt==3.5.3
torch==2.3.0
torchaudio==2.3.0
openai-whisper==20240930
beautifulsoup4==4.13.4
markdownify==1.1.0
openai==1.99.1
pandas==2.2.3
lmnt==1.2.0
arxiv==2.2.0
ffmpeg==1.4
joblib==1.5.1
instructor==1.10.0
google-generativeai==0.8.5
groq==0.26.0
deepgram-sdk==4.1.0
gradio==5.31.0
kokoro==0.9.4
soundfile==0.13.1
pymupdf==1.26.3
Pillow==11.2.1
jinja2==3.1.6
markthat==1.2.14