python-dotenv
typer
fastapi
fastapi[standard]
pydantic
elevenlabs
srt
torch
torchaudio
openai-whisper
beautifulsoup4
markdownify
openai
pandas
lmnt==1.2.0
arxiv
ffmpeg
joblib
instructor
google-generativeai
groq
deepgram-sdk
mlx_whisper
llama-cpp-python
gradio==5.31.0
kokoro==0.9.4
soundfile==0.13.1