python-dotenv
typer
fastapi
fastapi[standard]
pydantic
elevenlabs
srt
torch
torchaudio
openai-whisper
beautifulsoup4
markdownify
soundfile
openai
pandas
lmnt
arxiv
ffmpeg
joblib
instructor
google-generativeai